.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.listDropDownBlue:hover
{
    color: #fff;
    background-color: #0099ff;
}
.listDropDownGreen:hover
{
    color: yellow;
    background-color: #00ff4c;
}